<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | Find. Buy. Enjoy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div>
        <!-- Ticket verse header -->
        <header>
            <div class="header">
                <div class="logo">
                    <a href="{{ url_for ('index') }}">TicketVerse</a>
                </div>
                <div>
                    <nav class="headernav">
                        <ul class="navul">
                            <li><a href="{{ url_for ('calendar') }}">calendar</a></li>
                            <li>About Us</li>
                            <li><a href="{{ url_for ('help') }}">Help</a></li>
                            <li> <button>Sign in</button></li>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
        <!-- main -->

        <main>
            <div class="w-check">
                <form action="#" method="post">

                    <div class="w-order">
                        <!-- auto fill if the user already setup his profile -->
                        <!-- checkout left page -->
                        <div class="checkout">
                            <div>
                                <h1>Checkout</h1>
                            </div>
                            <h2>Contact information</h2>
                            <label for="FN"><input type="text" name="FN" id="FN" placeholder="First name"
                                    required></label>

                            <label for="LN"><input type="text" name="LN" id="LN" placeholder="Last name"
                                    required></label>
                            <br>

                            <label for="email"><input type="email" name="email" id="email" placeholder="Email address"
                                    required class="check-l"></label> <br>
                            <label for="tel"><input type="tel" name="tel" id="tel" placeholder="Phone number" required
                                    class="check-l"></label>


                            <div>
                                <h1>Ticket 1 Information</h1>

                                <label for="FN"><input type="text" name="FN" id="FN" placeholder="First name"
                                        required></label>

                                <label for="LN"><input type="text" name="LN" id="LN" placeholder="Last name"
                                        required></label>
                            </div>

                            <div>
                                <h1>Ticket 2 Information</h1>

                                <label for="FN"><input type="text" name="FN" id="FN" placeholder="First name"
                                        required></label>
                                <label for="LN"><input type="text" name="LN" id="LN" placeholder="Last name"
                                        required></label>
                            </div>
                        </div>

                        <!-- checkout right page -->
                        <div class="aside">
                            <!-- event banner -->
                            <div class="image"><img src="" alt="event image here"></div>
                            <div class="summary">
                                <h1>Order summary</h1>
                                <table>
                                    <tr>
                                        <td>2 x General Admission</td>
                                        <td>&pound;50</td>
                                    </tr>
                                    <tr>
                                        <td>Delivry - eTicket</td>
                                        <td>&pound;0</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>&pound;50</td>
                                    </tr>
                                </table>

                                <h2>Pay by card</h2>
                                <label for="card"><input type="number" name="card" id="card" placeholder="Card number"
                                        required></label>
                                <br>
                                <label for="date"><input type="number" name="date" id="date" placeholder="MM/YY"
                                        required></label>
                                <label for="cvc"><input type="number" name="cvc" id="cvc" placeholder="CVC"
                                        required></label>
                            </div>
                            <input type="submit" value="Buy now" id="buy">
                        </div>

                    </div>


                </form>
            </div>
        </main>

        <div>
            <footer>
                <div class="footer-container">
                    <div class="footer-l">
                        <h1>Stay in touch with us</h1>
                        <label for="subscribe"><input type="email" name="subscribe" id="subscribe"
                                placeholder="Your email address"></label>
                        <!-- social media icon here -->
                    </div>

                    <div class="footer-flex">
                        <!-- about -->
                        <div class="test">
                            <h1>About us</h1>
                            <ul>
                                <li>About</li>
                                <li>Press</li>
                                <li>Media kit</li>
                                <li>Careers</li>
                                <li>News</li>
                                <li>Support</li>
                            </ul>
                        </div>

                        <!-- follow us -->
                        <div class="test">
                            <h1>Follow us</h1>
                            <ul>
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>Linkedin</li>
                                <li>Instagram</li>
                                <li>Snapchat</li>
                            </ul>
                        </div>

                        <!-- for organizers -->
                        <div class="test">
                            <h1>For organizers</h1>
                            <ul>
                                <li>Partnership</li>
                                <li>Collaboration</li>
                                <li>List your event</li>
                                <li>For Businesses</li>
                                <li>Business support</li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="hr">
                    <hr>
                    <hr>
                </div>
                <div class="footer-logo">TicketVerse</div>

            </footer>
        </div>
    </div>
</body>

</html>